body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mediun-icon {
    font-size: 80px !important;
    color:steelblue;
}

.adjust{
    margin-left:45rem;
}
.icon-size {
    font-size: 20px !important;
}

.red {
    color: red;
    font-weight: bold;
}

.red:hover {
     color: darkred;
}

.blue {
    color: dodgerblue;
    font-weight: bold;
}

.blue:hover {
    color: darkblue;
 }

.yellow {
    color: gold;
    font-weight: bold;
}

.yellow:hover {
    color: darkgoldenrod;
}

.login-center {
    display:flex;
    justify-content:center;
  
}