@{
    ViewBag.Title = "Home Page";
}



<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color: beige">
        <div class="container">
            <span class="glyphicon glyphicon-education mediun-icon adjust"> </span>
            <h1 class="display-3 text-center">AdventureWorks2019!</h1>
            <p class="text-center">Bienvenido a mi aplicacion con Asp-Net  </p>
        </div>
    </div>

   

</main>